{% extends "main.html" %}

{% block content %}
    <h3 style="color: #17a2b8;"> Wszystkie listy obecności </h3>
    <hr>
    <ul class="list-group">
        {% for presence_list in presence_lists %}
            <li class="list-group">
                <a class="nav-link" href="show_presence/{{ presence_list.day }}"> </a>
            </li>
        {% endfor %}
        <hr>
        <br>
        <nav class="navbar navbar-light bg-light">
            <form class="form-inline">
                <a href="/main" class="btn btn-info" role="button">Wróć do strony głównej</a>
            </form>
        </nav>
    </ul>
{% endblock %}