{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

<title>{% block title %} Przedszkole Hobbitów {% endblock %}</title>
</head>
<h1> PRZEDSZKOLE HOBBITÓW </h1>


{% block content %}
      <br>
   <label>
        <a href="/all_children"> Lista Dzieci</a>

    </label>
   <br>

    <body>
   <label>
        <a href="/all_groups"> Lista Grup </a>

    </label>
   <br>
   <label>
        <a href="/all_teachers"> Lista Nauczycieli </a>

    </label>

      <br>
   <label>
        <a href="/all_trips"> Lista Wycieczek</a>

    </label>
   <br>
{% endblock content %}


</body>

</html>