{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
{% csrf_token %}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <title>{% block title %} Przedszkole Superbohaterów {% endblock %}</title>
</head>
<body>
{% load static %}
{% block header %}
    <img src='{% static 'super-heroes-trivia-category-comic-trivia-night.jpg' %}' height="150px" width="300"
         ALIGN="LEFT">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #17a2b8;">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/main">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/all_children">Lista Przedszkolaków</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/all_groups">Lista Grup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/all_teachers">Lista Nauczycieli</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/all_trips">Lista Wycieczek</a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/logout"> Wyloguj się</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login"> Zaloguj się</a>
                    </li>
                {% endif %}

                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link disabled" style="color: rgba(255,255,255,.5)">Zalogowany jako: {{ request.user.username }}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <h2 style="color: #17a2b8;"> PRZEDSZKOLE SUPERBOHATERÓW </h2 style="color: #17a2b8;">
{% endblock %}
{% block content %}
{% endblock %}
<br>
        <h3 style="color: #17a2b8;"> zdjęcie grupowe</h3 style="color: #17a2b8;">

    <img src='{% static 'zdjecie_grupowe.jpg' %}' height="500px" width="1300">

</body>
</html>