{% extends "main.html" %}

{% block content %}
    <h3 style="color: #17a2b8;"> Edytowanie przedszkolaka</h3>
    <hr>
    <form method="post" class="post-form">
        {{ form.as_p }}
        {% csrf_token %}

    <hr>
    <br>
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
            <a href="/show_child/{{ child.id }}"button type="submit" class="btn btn-info">Edytuj</abutton>
            <a href="add_carer/{{ carer.id }}" class="btn btn-info"> {{ carer.name }} </a>
            <a href="/main" class="btn btn-info">Wróć do Strony Głównej </a>
        </form>
    </nav>
{% endblock %}