{% extends "main.html" %}

{% block content %}
    <h3 style="color: #17a2b8;"> {{ trip.name }} </h3>
    <form action="{% url 'show-trip' trip.id %}" method="POST">
        <label>Data :{{ trip.date }}</label>
    <br>
        <label>Opis : {{ trip.description }}</label>
        <h4> Opiekunowie : </h4>
        {% for guardian in trip.trip_guardians.all %}
            <li>{{ guardian.name }}</li>
        {% endfor %}
    <br>
        <h4> Wycieczkowicze </h4>
        {% for member in trip.members_of_trip.all %}
            <li>{{ member.name }}</li>
        {% endfor %}
    </form>
        <hr>
        <nav class="navbar navbar-light bg-light">
            <form class="form-inline">
                <a href="/modify_trip/{{ trip.id }}/" class="btn btn-info"> Edytuj wycieczke </a>
                <a href="/delete_trip/{{ trip.id }}" class="btn btn-info"> Usuń wycieczke </a>
                <a href="/all_trips" class="btn btn-info"> Pokaż wszystkie wycieczki </a>
                <a href="/main" class="btn btn-info">Wróć do Strony Głównej</a>
            </form>
        </nav>
{% endblock %}
