{% extends "main.html" %}

{% block content %}

<h1> {{ group.name }} </h1>

<form action="{% url 'show-group' group.id %}" method="POST">


<h3>        Nauczyciele grupy:</h3>  {% for teacher in group.teacher_set.all %}
        <li>{{ teacher.name }}{% endfor %}
        </li>


    <br>

<h3>        Członkowie grupy: </h3> {% for child in group.child_set.all %}
        <li>{{ child.name }}{% endfor %}
        </li>

    <br>


<a href="/add_presence_children/{{ group.id }}"> Dodaj listę obecności </a>
<br>



<hr>
<a href="/modify_group/{{ group.id }}"> Edytuj grupe </a>

<br>
<a href="/all_groups/"> Pokaż wszystkie grupy </a>
<br>
<a href="/main/">Wróć do strony głównej</a>
</br>




</form>

{% endblock %}
