{% extends "main.html" %}

{% block content %}
<h1> {{ child.name }} </h1>

<form action="{% url 'show-child' child.id %}" method="POST">

    <label>
         Imię i nazwisko  : {{ child.name }}
    </label>
    <br>
    <label>
        Data urodzenia : {{ child.date_of_birth }}
    </label>
    <br>
    <label>
        <a href="/show_group/{{ child.group.id}}/"> Grupa : {{ child.group }}</a>
    </label>
    <br>

     <label>
       Rodzice :{% for carer in child.carers.all %}
         <li>{{ carer.name }} {% endfor %}
         </li>
     </label>
    <br>

<hr>
<a href="/modify_child/{{ child.id }}/"> Edytuj przedszkolaka </a>
<br>
<a href="/all_children/"> Pokaż wszystkich przedszkolaków </a>
<br>
<hr>
<br>
<a href="/main/">Wróć do strony głównej</a>
</br>





</form>

{% endblock %}
