{% extends "main.html" %}

{% block content %}
    <h3 style="color: #17a2b8;"> Przedszkolak : {{ child.name }} </h3>
    <hr>
    <form action="{% url 'show-child' child.id %}" method="POST">
        <label>Data urodzenia : {{ child.date_of_birth }}</label>
        <br>
        <label>Grupa : <a href="/show_group/{{ child.group.id }}">{{ child.group }}</a></label>
        <br>
        <label>Rodzice :
            {% for carer in child.carers.all %}
              <li></li>  {{ carer.name }}
            {% endfor %}
        </label>
    </form>
    <hr>
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
            <a href="/show_payment/{{ child.id }}" class="btn btn-info"> Pokaż płatności </a>
            <a href="/modify_child/{{ child.id }}" class="btn btn-info"> Edytuj przedszkolaka </a>
            <a href="/delete_child/{{ child.id }}" class="btn btn-info"> Usuń przedszkolaka </a>
            <a href="/all_children" class="btn btn-info"> Pokaż wszystkich przedszkolaków </a>
            <a href="/main" class="btn btn-info">Wróć do Strony Głównej</a>
        </form>
    </nav>
{% endblock %}
