{% extends "main.html" %}

{% block content %}
<h2> {{ teacher.name }} </h2>

<form action="{% url 'show-teacher' teacher.id %}" method="POST">

    <label>
        Imię i nazwisko: {{ teacher.name }}
    </label>
    <br>
    <label>
        <a href="/show_group/{{ teacher.group.id}}/"> Grupa : {{ teacher.group }}</a>
    </label>
    <br>
    <label>
       Stanowisko : {{ teacher.get_type_of_teacher_display }}
    </label>
    <br>

    <label>
       Email : {{ teacher.email }}
    </label>
    <br>
    <label>
       Numer telefonu: {{ teacher.phone_number }}
    </label>
    <br>

<hr>
<a href="/modify_teacher/{{ teacher.id }}/" class="btn btn-info" role="button"> Edytuj nauczyciela </a>

<br>
<a href="/all_teachers" class="btn btn-info" role="button"> Pokaż wszystkich nauczycieli </a>
<br>
<a href="/main" class="btn btn-info" role="button">Wróć do strony głównej</a>
</br>




</form>

{% endblock %}
