{% extends "main.html" %}

{% block content %}
    <h1> {{ group.name }} </h1>
    <form action="{% url 'show-group' group.id %}" method="POST">
        <h3> Nauczyciele grupy:</h3>  {% for teacher in group.teacher_set.all %}
        <li>{{ teacher.name }}{% endfor %}
        </li>
        <br>
        <h3> Członkowie grupy: </h3> {% for child in group.child_set.all %}
        <li>{{ child.name }}{% endfor %}
        </li>
        <br>
        <a href="/add_presence_children/{{ group.id }}" class="btn btn-info"> Dodaj listę obecności </a>
        <a href="/modify_group/{{ group.id }}" class="btn btn-info"> Edytuj grupe </a>
        <a href="/all_groups" class="btn btn-info"> Pokaż wszystkie grupy </a>
        <a href="/main/" class="btn btn-info">Wróć do strony głównej</a>
    </form>
{% endblock %}
